* text=auto

*.css text eol=lf
*.ftl text eol=lf
*.gradle text eol=lf
*.html text eol=lf
*.java text eol=lf
*.js text eol=lf
*.properties text eol=lf
*.sql text eol=lf
*.xml text eol=lf
*.yml text eol=lf
*.sh text eol=lf

*.gif -text
*.jar -text
*.png -text
*.xlsx -text
